*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: bisque;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    height: auto;
    background-color: black;
    color: white;
}

.todo-container{
    text-align: center;
}

.input-section{
    display: flex;
}

.input-section input{
    width: 95%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    border: none;
}

.btn{
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin: 0 15px;
    border: none;
}

.btn:hover{
    background-color: darkblue;
}

.list{
    text-align: center;
    margin: 5px 10px;
    padding: 5px;
    font-size: 24px;
}

li{
    list-style-type: none;
    text-align: left;
    padding: 8px;
    margin: 5px 0;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid black;
}

@media screen and (max-width: 600px){
    .todo, .input-section{
        flex-direction: column;
    }

    .btn{
        margin: 10px;
    }

}